body {
  font-family: Arial Narrow, sans-serif;
  font-size: 1.4rem
}

label {
  color: white;
}
.title {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 2px 5px 3px grey;
}

.footer {
  background-color: black;
  color: white;
  height: 250px;
  bottom: 0;
  font-size: 20px;
}
#button {
  background-color: #87CEFA;
  border-radius: 10px;
}
#read-button {
  background-color:#87CEFA;
  border-radius: 5px;
  padding-right: 15%;
  padding-left: 15%;
  padding-left: 15%;
  padding-right: 15%;
  width: 90%;
  margin-top: 10%;
}

.text-footer {
  margin-left: 10%;
  padding-top: 5%;
}

#text-home {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

ui container {
  display: flex;
  justify-content: center;
}

ui container .text-home {
  text-align: center;
}

.table {
  border: 0px solid black;
  margin-left: 10%;
  margin-right: 10%;
}
.th {
  color: black;
  color: #87CEFA
}
.image {
  width: 60%;
  border: 4px solid white;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15%;
}

#bio-image {
  margin-top:60px;
margin-bottom: 40px;
height: 210px;
}

.column {
  display: flex;
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
}

.ui.grid > .column:not(.row),
.ui.grid > .row > .column {
  padding-left: 5%;
  padding-right: 5%;
}
ui grid .column {
  padding: 15rem;
}
#menu {
  margin-bottom: 0;
}
.border-text {
  font-size: 25px;
  padding: 35px;
  font-style: italic;
  border: 2px solid white;
}

.container-work {
  padding: 5%;
}
ui menu {
  opacity: 0.6;
}

.parag2 {
  padding: 1%;
  padding-right: 15%;
  padding-left: 15%;
}

.intro-div {
  padding: 8%;
  padding-top: 4%;
}

label {
  color: white;
}
#form {
  margin: 4%;
  padding: 4%;
}

#first-form {
  display: flex;
  justify-content: center;
  margin: 35px;
}

#button-intro {
  background-color: #87CEFA;
  border-style: solid;
  border-radius: 10px;
}
#button-intro:hover {
  background-color: black;
  border-color: black;
  color: white;
}

#input::placeholder {
  color: #87CEFA
}

.second-column {
  padding: 50px;
  margin: 15px;
}
.parag {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
hr {
  height: 1px;
}

a {
  background-color: #87CEFA;
  color: white;
}

fields {
  margin-top: 20%;
}

#text {
  padding: 2%;
}

#headCell {
  
  text-align: center;
}

.invertedcell {
  text-transform: uppercase;
}

@media only screen and (min-width: 640px) {
  .contact {
    background-color: grey;
    color: white;
    height: 750px;
    padding-top: 50px;
  }
  .bio {
    height: 950px;
    margin-top: 50px;
  }
  .work {
    height: 650px;
    padding-bottom: 40%;
    background-color: #dcdcdc;
  }
  .first {
    height: 550px;
    background-image: url("public/fond-lumiere.jpg");
    width: 100%;
    background-size: 100%;
    padding-top: 10%;
    font-size: 50px;
    font-weight: bold;
  }
  .intro {
    height: 750px;
    background-color: #87CEFA;
    color: white;
    padding-top: 2%;
    padding-bottom: 50px;
  }
}
